body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    /* background-image: url("pbhH.gif") repeat-y 100% 100% fixed;
    background-position: center;
    background-size: cover; */
}

.user-review {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.user-name {
    display: flex;
    font-weight: bold;
}

.container {
    width: 25%;
}

.stars {
    margin-top: 5px;
    color: crimson;
    font-size: 25px;
}

.rating {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}

h3, h4, p {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
    color: crimson;
}

img {
    border: 1px solid #CCC
}

input {
    display: inline-block;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.search-box {
    flex: 1;
    margin-right: 2%;
}

.search-button {
    flex: 0;
}

.results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 5px;
}

.book-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.book-info {
    display: flex;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: #f0f0f0;
}

.title {
    font-weight: bold;
    margin-bottom: 10px;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}