{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block main %}
<form action="/login"
      method="post"
      class="login">
       <div>
              <label for="username">Email:</label>
              <input type="email"
                     name="username"
                     class="input-field rounded-corners">
              <label for="password-input">Password:</label>
              <input type="password"
                     name="password"
                     class="input-field rounded-corners">
              <input type="submit"
                     value="Login">
              <ul class="errors">
                     {% for error in errors %}
                     <li>{{error}}</li>
                     {% endfor %}
              </ul>
       </div>
</form>
{% endblock %}