{% extends "layout.html" %}

{% block title %}
Search
{% endblock %}

{% block main %}
<form action="/"
      method="post">
    <div class="input-group">
        <input class="search-box"
               type="text"
               name="search"
               placeholder="Please enter ISBN, title or author">
        <input class="search-button"
               type="submit"
               value="Search books">
    </div>
    <ul class="errors">
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</form>

{% if books %}
<div class="results">
    {% for book in books %}
    <a class="book-card"
       href="{{url_for('book', book_id=book.book_id)}}">
        <p><span class="title">{{book.title}} </span><span>({{book.year}})</span></p>
        <div class="book-info">
            <div class="book-details">
                <p>{{book.author}}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endif %}
{% endblock %}